---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const albums = await getCollection("albums");
---

<style>
  img {
    width: 100%;
    height: auto;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
</style>

<div class="gallery-grid">
    {
      albums.map((item) => (
        <div class="gallery-item">
          <a
            href={`/gallery/${item.id}`}
          >
            <Image
              src={item.data.cover}
              alt={item.data.title}
              width="1000"
              height="1000"
              quality={90}
            />
            {/* <img
              src={item.data.cover.src}
              alt={item.data.title}
              width="400"
              height="400"
              decoding="async"
              loading="lazy"
            /> */}
            <div >
              <strong class="font-normal">{item.data.title}</strong>
              <p>{item.data.description}</p>
            </div>
          </a>
        </div>
      ))
    }
</div>
